@media (max-width: 60rem) {
  .home > div {
    flex-direction: column-reverse;
    gap: 0.6rem;
  }
  .home > div button:hover, .home > div a:hover {
    transform: translateX(0.7rem);
  }
}
@media (min-width: 60rem) {
  .home > div {
    flex-direction: row;
    gap: 2rem;
  }
  .home > div button:hover, .home > div a:hover {
    transform: translateY(-0.4rem);
  }
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.App {
  display: grid;
  grid-template-rows: 5rem 1fr;
  min-width: 100vw;
  height: 100vh;
  color: var(--color);
  background: url(../img/background.jpg);
}
.App .header {
  background: whitesmoke;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 0.3rem 0.6rem #32323280;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .header button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  outline: 2px solid #00000000;
  border: none;
  background-color: #f1f1f1;
  padding: 0.8em;
  color: #323133;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}
.App .header button:hover {
  box-shadow: 0 0.2rem 0.6rem #32323280;
  transform: translateY(-0.4rem);
  outline: 2px solid #323133;
}
.App .header button:active {
  transform: translateY(-0.2rem);
}
.App .header button svg {
  height: 30px;
}
.App .header > h1 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.App .chatroom {
  min-height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.App .chatroom .messages-wrapper {
  overflow-y: auto;
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.App .chatroom .messages-wrapper div {
  width: max-content;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
  word-wrap: break-word;
  max-width: min(30rem, 65vw);
}
.App .chatroom .messages-wrapper div img {
  height: 2em;
  border-radius: 50%;
}
.App .chatroom .messages-wrapper div.sent {
  flex-direction: row-reverse;
  align-self: flex-end;
  background: #3665ff;
  color: white;
}
.App .chatroom .messages-wrapper div.sent ::selection {
  background: white;
  color: #3665ff;
}
.App .chatroom .messages-wrapper div.sent ::-moz-selection {
  background: white;
  color: #3665ff;
}
.App .chatroom .messages-wrapper div.received {
  align-self: flex-start;
  background: #323133;
  color: white;
}
.App .chatroom .messages-wrapper div.received ::selection {
  background: white;
  color: #323133;
}
.App .chatroom .messages-wrapper div.received ::-moz-selection {
  background: white;
  color: #323133;
}
.App .chatroom form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--form-height, 3rem);
}
.App .chatroom form input {
  height: 100%;
  border: none;
  outline: 2px solid #00000000;
  transition: 0.3s ease;
  width: 100%;
  padding: 1rem;
}
.App .chatroom form input:focus {
  box-shadow: 0 0 0 3px #3665ff inset;
}
.App .chatroom form button {
  border: none;
  border-radius: 0;
  padding: 0.5rem;
  height: 100%;
  width: 5rem;
  font-weight: 600;
  background-color: #3665ff;
  color: #f1f1f1;
  transition: 0.3s ease;
  cursor: pointer;
}
.App .chatroom form button.empty {
  background-color: #001350;
  cursor: default;
}
.App .chatroom form button.empty:hover {
  background-color: #001350;
  cursor: default;
}
.App .chatroom form button.empty:active {
  background-color: #001350;
  cursor: default;
}
.App .chatroom form button:hover {
  background-color: #5079ff;
}
.App .chatroom form button:active {
  background-color: #002ab6;
}
.App .home {
  background: linear-gradient(#00000040, #00000040), url(../img/background-2.jpg);
  background-size: cover;
  padding: 1.8rem min(3rem, 10vw);
  overflow: auto;
}
.App .home h1 {
  font-size: 230%;
}
.App .home div {
  padding: 2rem 0;
  display: flex;
}
.App .home div button, .App .home div a {
  width: min-content;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  outline: 2px solid #00000000;
  border: none;
  background-color: #f1f1f1;
  padding: 0.8em 1.4rem;
  color: #323133;
  font-size: 0.8rem;
  font-family: var(--font-body);
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  transition: 0.5s ease;
}
.App .home div button:hover, .App .home div a:hover {
  color: #fff;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(0.6rem);
  box-shadow: 0 0.2rem 0.6rem #32323280;
}
.App .home div button:hover:nth-child(1), .App .home div a:hover:nth-child(1) {
  background-color: rgba(255, 0, 60, 0.6);
}
.App .home div button:hover:nth-child(2), .App .home div a:hover:nth-child(2) {
  background-color: rgba(59, 59, 69, 0.8);
}
.App .home div button:hover:nth-child(3), .App .home div a:hover:nth-child(3) {
  background-color: #ffffff;
  color: #323133;
}
.App .home div button:hover img, .App .home div a:hover img {
  filter: invert(100%);
}
.App .home div button:active, .App .home div a:active {
  transform: translateY(-0.2rem);
}
.App .home div button img, .App .home div button svg, .App .home div a img, .App .home div a svg {
  height: 3rem !important;
  width: 3rem !important;
  transition: 0.4s ease;
}

/*# sourceMappingURL=App.css.map */
