body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  padding: 1em 2.4em;
  border-radius: .8em;
  box-shadow: var(--shadow);

  color: var(--color);
}
.App .SignIn-button {
  border: none;
  outline: none;

  background-color: var(--color);
  filter: brightness(90%);
  padding: .6em;
  border-radius: .3rem;
  color: whitesmoke;
  font-weight: 600;

  cursor: pointer;
  transition: .2s ease;
}
.App .SignIn-button:hover {
  box-shadow: var(--shadow);
  filter: brightness(115%);
}
.App .SignIn-button:active {
  scale: 97%;
}